.cal-cell-top {
  min-height: 78px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cal-day-badge {
  margin-top: 18px;
  margin-left: 10px;
  background-color: #b94a48;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
}
